.navbar-nav {
    display: flex;
    flex-direction: column;  
    width: 100%;
    margin: auto;
}


.jumbotron {
    background-color: pink;
}

.jumbotron h1{
    padding-top: 100px;
    color: palevioletred;
    text-align: center;
    font-family: 'Brush Script MT';
    font-weight: bold;
}

.imagen { 
    margin: auto;
}

.jumbotron p {
    color: white;
    text-align: center;
}

.mb-3 {
   padding-top: 20px;
}

.boton {
    padding-bottom: 20px;
}

.cards1 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.card-body {
    background-color: #777777;
    color: #fff;
    font-size: 16px;
}

.card-title {
    color:#fff;
    font-weight: 100;
    font-size: 26px;
    font-family: 'Brush Script MT';
}
.pie {
    background-color: pink ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 20vh;
    padding-top: 20px;

}
.pieTexto h3 {
    font-family: 'Brush Script MT';
    color:palevioletred;
    font-weight: bold;
}
.pieTexto h5 {
    color: white;
    font-size: 16px;
}

@media (min-width: 320px) and (max-width:467px){
    .pieTexto h5 {
        font-size: smaller;
    }
    .boton {
        padding-left: 100px;
    }
    .imagen {
        padding-left: 10px;
    }

    .jumbotron {
        align-items: center;
        padding-bottom: 20px;
    }
    .jumbotron h1{
        padding-top: 20px;
    }
}

@media (min-width: 468px) and (max-width:768px){

    .jumbotron {
        display: flex;
    }
   .jumbotron h1 {
    padding-top: 50px;
    font-size: 26px;
   }
   .jumbotron p {
    font-size: 16px;
   }

   .mb-3 {
    padding-top: 100px;
    width: 200px;
    padding-right: 20px;

 }
}

@media (min-width: 769px) and (max-width:1024px){

    .jumbotron {
        display: flex;
    }
   .jumbotron h1 {
    padding-top: 50px;
    font-size: 26px;
   }
   .jumbotron p {
    font-size: 16px;
    padding-left: 20px;
   }

   .mb-3 {
    padding-top: 100px;
    width: 200px;
    padding-right: 20px;
    }
    .registro {
        padding-left: 20px;
    }
}